<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite" verbose="1" thread-count="5" parallel="methods">
    <listeners>
        <listener class-name="com.envision.automation.core.RetryTransformer"></listener>
    </listeners>
    <test name="login tests">
        <classes>
            <class name="com.envision.automation.tests.orangecrmapp.logintests.LoginTest">
                <methods>
                    <include name="validateNegativeFlow"/>
<!--                    <include name="validatePositiveLoginFlow"/>-->
                </methods>
            </class>
        </classes>
    </test>

</suite>